@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
* {
    box-sizing: border-box;
}
html {
    background: rgba(0, 0, 0, 0.03);
}
body, html {
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

.chat-header {
    text-align: center;
}

.chat-output {
    flex: 1;
    padding: 20px;
    display: flex;
    background: white;
    flex-direction: column;
}
.chat-output > div {
    margin: 0 0 20px 0;
}
.chat-output .bot-message .message {
    background: #ff85a2;
    color: white;
}
.chat-output .user-message {
    text-align: right;
}
.chat-output .user-message .message {
    background: #eee;
}
.chat-output .message {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 10px;
}

.chat-input {
    padding: 20px;
    background: #eee;
    border-bottom: 0;
}
.chat-input .user-input {
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}
